fastapi
uvicorn
pydantic
pydantic-ai
pydantic-settings
pydantic-ai[logfire]
logfire[fastapi]
tiktoken>=0.5.2
openai>=1.12.0
pytest>=8.0.0
httpx>=0.27.2
numpy~=1.26.0
pdfplumber>=0.10.3
pandas>=2.2.0
pandas-stubs>=2.1.1
PyMuPDF>=1.23.8
